<div class="site-content">
    <div class="mdl-grid mdl-cell mdl-cell--12-col">

        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-color--transparent mdl-cell mdl-cell--8-col">
            <img src="../../../assets/front/img/pageNotFound.png"/>
            <div class="page-not-found-title">
                404
            </div>
        </section>

        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-color--transparent mdl-cell mdl-cell--4-col">
            <div class="page-not-found-description">
                Ouuuups, cette page n'existe pas !
            </div>
        </section>
        
        <button routerLink="/" class="page-not-found-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            <span class="page-not-found-text-button">Back to home</span>
        </button>
    

    </div>
</div>