<div class="site-content">
    <div class="mdl-grid site-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
            <div class="mdl-card__title">
              <h1 class="mdl-card__title-text">Contact</h1>
            </div>
            
            <div class="mdl-card__media">
                <img class="article-image" src="../../assets/front/img/contact.jpg" border="0" alt="Login">
            </div>
            
            <div class="mdl-grid site-copy">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__supporting-text">
                        <p>Nous contacter ...</p>

                        <!-- Error general -->
                        <span *ngIf="error" class="error-message">
                            {{error}}
                        </span>

                        <form method="POST" class="form-contact" (ngSubmit)="onSubmit(email, sujet, text)" #contactForm="ngForm">

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" 
                                type="email"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                required
                                [(ngModel)]="email"
                                name="email"
                                #name="ngModel">
                                <label class="mdl-textfield__label" for="email">Email ...</label>
                                
                                <!-- Error pannel -->
                                <span [hidden]="name.email || name.pristine" class="mdl-textfield__error">Email invalide || Email requis</span>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" 
                                type="text"
                                pattern="[A-Z,a-z, ]*"
                                required
                                [(ngModel)]="sujet"
                                name="sujet"
                                #name="ngModel">
                                <label class="mdl-textfield__label" for="sujet">Sujet ...</label>
                                    
                                <!-- Error pannel -->
                                <span [hidden]="name.sujet || name.pristine" class="mdl-textfield__error">Sujet requis</span>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <textarea class="mdl-textfield__input" 
                                type="text"
                                required
                                rows="5"
                                [(ngModel)]="text" 
                                name="text"
                                #name="ngModel">Votre Text ...</textarea>
                                <label class="mdl-textfield__label" for="text">Enter note</label>

                                <!-- Error pannel -->
                                <span [hidden]="name.text || name.pristine" class="mdl-textfield__error">text requis</span>
                            </div>
                                
                            <p>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" [disabled]="!contactForm.form.valid" type="submit">
                                    Envoyer
                                </button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
